# netbeans
build
dist
/FileExceptionExample/nbproject/private/
/InitExample/nbproject/private/
/WeatherExample/nbproject/private/
/WeatherLibrary/nbproject/private/
/WeatherProvider/nbproject/private/
/FileStreamExample/nbproject/private/
/FileGraphExample/nbproject/private/
/SerializationExample/nbproject/private/
/CollectionExample/nbproject/private/