# netbeans
build
dist

/BreakTest/nbproject/private/
/FirstClassApp/nbproject/private/
/GraphicsExample/nbproject/private/
/ReferenceExample/nbproject/private/
/Paradigms/nbproject/private/
/ConstructorExample/nbproject/private/
/LiveJournal/nbproject/private/
/InterfaceExample/nbproject/private/